@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&family=DM+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  height: 78px;
}

.top_message {
  display: flex;
   width: 100%;
   height: 40px;
   list-style: none;
   background-color: #DFEEF7;
}

.veteran_title, .offer, .contact_us {
  display: inline-block;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: #1F3951;
}
.veteran_title {
  padding: 13px 0px 0px 10px;
}

.veteran_icon {
  margin: 9px 0 0 55px;
  height: 26px;
}

.offer {
  padding: 13px 0px 0px 10%;
  font-family: "Gill Sans", sans-serif;
}

.contact_us {
  padding: 13px 0 0 15%;
  
}

li, a, button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  width: 155px;
  height: 42px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

button {
  padding: 0;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.right_icons a {
  padding: 0px 25px 0px 0px;
  margin:  0px
}

.image_content{
  display: flex;
  justify-content: space-between;
}

.shop_pillows_title {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
  font-size: 52px;
  letter-spacing: 0px;
  color: #1F3951;
}

.shop_pillows_subtitle {
  position: absolute;
  top: 440px;
  left: 100px;
  font-size: 24px;
  text-align: left;
  font-family: 'Bodoni Moda', serif;
  letter-spacing: 0px;
  color: #406C93;
}

.shop_pillows_paragraph {
  position: absolute;
  top: 490px;
  left: 100px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #122230;
}

.shop_left_button {
  position: absolute;
  top: 585px;
  left: 100px;;
  width: 196px;
  height: 50px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;  
  background-color: transparent;
  border: 2px solid #406C93;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  border-radius: 4px;
  color: #406C93;
}

.find_right_button {
  position: absolute;
  top: 585px;
  left: 330px;
  width: 228px;
  height: 50px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;  
  background-color: transparent;
  border: 2px solid #406C93;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  border-radius: 4px;
  color: #406C93;
}

.shop_left_button:hover, .find_right_button:hover {
  background-color: #406C93;
  color: #FFFFFF;
}
 
.second_section {
  display: flex;
  height: 110px;
  width: 95%;
  margin: auto;
  align-items: center;
  padding-left: 11%;
  background-color: #F9F7F6;
}

.second_section_nav li{
  display: inline-block;
  align-items: center;
  padding-right: 20px;
  text-align: center;
  margin-top: 25px;  
  color: #1F3951; 

}
.par1, .par2, .par3, .par4{
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;  
  letter-spacing: 0px;

line-height: 100px;
}
 
.containter {
  width: 100%;
  height: 732px;
}
.third_section_h5 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0px;
  color: #406C93;
  margin-top: 80px;
  margin-bottom: 20px;
}
 
.third_section_title { 
font-family: 'DM Sans', sans-serif;
font-size: 36px;
text-align: center;
letter-spacing: 0px;
color: #1F3951;
}

.second_nav {
  list-style: none;
  text-align: center;
}

.second_nav li {
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 0px 30px;
}

.second_nav li, a {
  transition: all 0.3s ease 0s;
  color: #1F3951;
}

.third_section_images {
  text-align: center;
  
}

.third_section_images ul, .picture1, .picture2, .picture3, .picture4 {
  position: relative;
  list-style: none;
  display: inline-block;
  grid-gap: 10px;
  margin: 0 auto;
}
/* 
.less_then {
  position: relative;
  bottom: 299px;
  left: 125px;
  font-size: 50px;
  height: 10px;
  color: #376D94;
}

.greater_then {
  position: relative;
  float: right;
  bottom: 299px;
  margin-right: 111px;
  font-size: 50px;
  height: 10px;
  color: #376D94;
} 
*/
.container2 {
  display: inline-block;
  width: 100%;
}
.first_pic, .second_pic, .third_pic, .fourth_pic {
  display: inline-block;
  position: relative;
  font-size: 17px;
  font-family: 'DM Sans', sans-serif;
  text-align: left;
}

.third_pic em {
  color: #ED4D4D;
  letter-spacing: 0.65px;
  font-size: 13px;

}